.leaflet-control-center-button {
    content:url("../../images/center-icon.png");
    background-color: white;
}

.leaflet-control-center-button:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}